@media only screen and (max-width: 640px) {
    #main,
    .footer-area,
    .page-title-bar,
    body {
        background-attachment: fixed !important;
    }
    .fusion-column-wrapper {
        padding: 0px !important;
    }
    #customer-cases-placeholder {
        .content-boxes-placeholder {
            padding-top: 10px;
            min-height: 108px;
        }
        ul {
            &.bullet-list-results {
                min-height: 20px;
            }
            &.bullet-list-responsabilities {
                min-height: 20px;
            }
        }
    }
    #about-sapigo-placeholder {}
    #join-us-placeholder {
        .fusion-row {
            padding: 0px !important;
        }
    }
    #leading-sapigo-placeholder {
        .fusion-column-wrapper {
            p {
                min-height: 1px;
            }
            .quote {
                min-height: 1px;
                margin-top: 0;
            }
        }
    }
    #main.force-background-att {
        background-attachment: fixed !important;
    }
}

@media only screen and (max-width: 800px) {
    .ua-mobile #main,
    .ua-mobile .footer-area,
    .ua-mobile .fusion-page-title-bar,
    .ua-mobile body {
        background-attachment: fixed !important;
    }
}